*{
    margin: 1vh;
    padding: 0;
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 10PX;
    float: left;
    
}

.topbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to left, #FFF,rgb(0, 232, 178));
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
}

.menu{
flex-direction: row;
}